<div class="row">
  <mat-card class="col-sm-4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>MR. Raj</mat-card-title>
      <mat-card-subtitle>Assistance Professor (Chemistry)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Teachers create lesson plans and teach those plans to the entire class, individually to students or in small groups, track
        student progress and present the information to parents.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="col-sm-4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Dr. Chandra</mat-card-title>
      <mat-card-subtitle>Assistance Professor (Physics)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Teachers create lesson plans and teach those plans to the entire class, individually to students or in small groups, track
        student progress and present the information to parents.

      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col-sm-4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Dr. Khurana</mat-card-title>
      <mat-card-subtitle>Assistance Professor (Math)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Teachers create lesson plans and teach those plans to the entire class, individually to students or in small groups, track
        student progress and present the information to parents.

      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>
<div class="row">
  <mat-card class="col-sm-4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>MR. Raj</mat-card-title>
      <mat-card-subtitle>Assistance Professor (Chemistry)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Teachers create lesson plans and teach those plans to the entire class, individually to students or in small groups, track
        student progress and present the information to parents.
      </p>
    </mat-card-content>

  </mat-card>

  <mat-card class="col-sm-4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Dr. Chandra</mat-card-title>
      <mat-card-subtitle>Assistance Professor (Physics)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Teachers create lesson plans and teach those plans to the entire class, individually to students or in small groups, track
        student progress and present the information to parents.

      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="col-sm-4">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Dr. Khurana</mat-card-title>
      <mat-card-subtitle>Assistance Professor (Math)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Teachers create lesson plans and teach those plans to the entire class, individually to students or in small groups, track
        student progress and present the information to parents.

      </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>

</div>